*{
  margin: 0;
  padding: 0;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  font-family: 'Anton', sans-serif;
}

#background {
  text-align: center;
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

#map {
  height: 250px;
  position: relative;
  top: 30%;
}

#overmap {
  position: fixed;
  text-align: left;
  margin-left: 30px;
  top: 30%;
  z-index: 99;
  background-color: transparent;
}

p {
  padding-left: 0px;
  position: relative;
  background-color: transparent;
}

p.title {
  margin-top: 30px;
  font-size: 300%;
}

p.info {
  margin: 20px 0px 20px 0px;
  font-size: 150%;
}
